<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarzenaSz">Marzena</a>.
  </p>
  <p>
    some text 
  </p>
  <p>
    Check out my portfolio <a target="_blank" href="http://marzenaszopinska.getforge.io/"> here</a>.
  </p>
<div class="row">
  <br class="clear" />

  <div class="col-12 col-sm-4">
    <%= image_tag 'mee.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Marzena Szopinska</h2>
    <br />
    <p>
      Marzena Szopinska is a software engineer and a passionate League of Legends player.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
