<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarzenaSz">Marzena Szopinska</a>.
  </p>
  <p>
    Splurty is an application originally built as an assignment for the Firehose project.
    It returns motivational quotes about hard work, dedication, and ambition. 
    It is built using Ruby on Rails, Bootstrap, HTML and CSS.
  </p>
  <p>
    Check out my portfolio <a target="_blank" href="http://marzenaszopinska.getforge.io/"> here</a>.
  </p>
<div class="row">
  <br class="clear" />

  <div class="col-12 col-sm-4">
    <%= image_tag 'mee.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Marzena Szopinska</h2>
    <br />
    <p>
      Marzena Szopinska is a software engineering student with the Firehose project, located in London, UK. Apart from software engineering and web development, she is interested in health, fitness and video games.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
