<h1>Enter Your Quote Details</h1>
<%= simple_form_for @quote do |f| %>
    <%-# add new fields-%>
    <%= f.input :saying %>
    <%= f.input :author %>
    <%-# space the form out a bit by adding a few line breaks-%>
    <br />
    <%-# add a submit button-%>
    <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>